@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans&display=swap');

#mybody{
	background: "https://images.unsplash.com/photo-1551158046-d939d830fb4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80";
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.apilink{
	color: white;
	text-align: center;
	background-color: #C7DAE2;
	border-radius: 8px;
	padding: 15px;
}

.Home-header {
  /*background: '../static_resources/homephoto.jpg' no-repeat center;*/
  padding: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "serif";
  color: #F5FFFA;
  bottom: 150px;
}
.background {
  background-color: #C7DAE2;
}

.highlight {
  background-color: yellow;
}