@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.Home {
  text-align: center;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);

  /*filter: FlipH;*/
  -ms-filter: "FlipH";
  /*background-image: '../static_resources/homephoto.jpg' no-repeat center;*/
}

#mybody{
	background: "https://images.unsplash.com/photo-1551158046-d939d830fb4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80";
	background-size: cover;
	background-repeat: no-repeat;
}

.Home-header {
  /*background: '../static_resources/homephoto.jpg' no-repeat center;*/
  padding: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 30px;
  font-family: "serif";
  color: #F5FFFA;
  bottom: 150px;
}

.Title-summary{
  text-align: center;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);

  /*filter: FlipH;*/
  -ms-filter: "FlipH";
  background-color: #C7DAE2;
  border-color: white;
  color: black;
  border-radius: 15px;
  padding: 20px;
  font-family: Lobster;
}

.summary{
  font-size: 20px;
  font-family: Josefin Sans;
}
