@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');
.Model-header{
	font-family: 'Abril Fatface', Georgia, Times, serif;
	text-align: center;
	padding-top: 5%;
}

.Viz-header{
	font-family: 'Abril Fatface', Georgia, Times, serif;
	text-align: center;
	padding-top: 2%;
}

.SubHeader{
	font-family: 'Abril', Georgia, Times, serif;
	text-align: center;
	padding-top: 2%;
}
.center{
		text-align: center;	
}
.ModelDeck{
	font-family: 'Josefin Sans', Georgia, Times, serif;
	padding: 6%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}
.SearchDeck{
	font-family: 'Josefin Sans', Georgia, Times, serif;
	text-size-adjust: small;
}
.Model{
	background-color: #C7DAE2;
}

body{
	font-family: 'Josefin Sans', Georgia, Times, serif;
}

h5, h6{
	font-family: 'Josefin Sans', Georgia, Times, serif;
}
.AboutBlocks{
	font-family: 'Josefin Sans', Georgia, Times, serif;
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
}
.ToolBlocks{
	font-family: 'Josefin Sans', Georgia, Times, serif;
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 10%;
}

.pAbout{
	padding-left: 10%;
	padding-right: 10%;
}

.photo{
	height: 25vw;
	object-fit: cover;
	width: 98%;
}

Card{
	padding-top: 3%;
}

.butn{
	border-radius: 0;
}

#searchbutn{
	background-color: #647fa3;
	font-family: 'Lobster';
	border: 2px white;
}

.btn-primary:hover{
	color: black;
}

#dropdown-options{
	font-family: 'Lobster';
}

#dropdown-btn{
	background-color: #AEBCCF;
	border-color: #647fa3;
	font-family: 'Lobster';
	border-radius: 5px;
}

#dropdown-btn:focus{
	outline: none;
}

#dropdown-btn:hover{
	color: black;
}

#dropdown-basic{
	background-color: #AEBCCF;
	border-color: #AEBCCF;
}

#dropdown-basic:hover{
	color: black;
	border-color: #6488a3;
}

#go-btn{
	background-color: #647fa3;
	border-color: #647fa3;
	font-family: 'Lobster';
}

#go-btn:hover{
	color:black;
	border-color: #456074;
}

#page-btn{
	background-color: #AEBCCF;
	border-color: #AEBCCF;
}

#page-btn:hover{
	color:black;
	border-color: #6488a3;
}

#curr-page{
	background-color: #647fa3;
	border-color: #647fa3;
}