@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
.Navme{
	font-family: 'Lobster', Georgia, Times, serif;
	background-color: #E1B7B7;
}

#searchbutn{
	background-color: #C7DAE2;
	border-color: #a1bcc7;
}

.options{
	font-family: Josefin Sans;
}
